## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Atuona,PF,78.62,clear sky,-9.8000,-139.0333,Villa Enata
1,10,Nizwa,OM,76.37,clear sky,22.9333,57.5333,Orient Apartments
2,15,Sisophon,KH,79.11,overcast clouds,13.5859,102.9737,Pyramid Hotel
3,25,Port Alfred,ZA,71.10,overcast clouds,-33.5906,26.8910,The Halyards Hotel
4,32,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,Paradise Inn

In [3]:
vacation_df.count()

City_ID                138
City                   138
Country                138
Max Temp               138
Current Description    138
Lat                    138
Lng                    138
Hotel Name             138
dtype: int64

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
vacation_cities_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure
VacaSpots=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
VacaSpots.add_layer(vacation_cities_layer)

VacaSpots

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Ixtapa"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Ixtapa"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Petatlan"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Acapulco"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Puerto Escondido"]

vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
32,212,Ixtapa,MX,74.23,scattered clouds,20.7,-105.2,Hotel Plaza Providencia

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()
end = vacation_end[["Lat", "Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()

In [8]:
stop3

array([[ 15.85  , -97.0667]])

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

itinerary_layer = gmaps.directions_layer(start[0],end[0], waypoints=[stop1[0],stop2[0],stop3[0]],travel_mode="DRIVING")

DirectionsMap=gmaps.figure(center=(-23,144),zoom_level=5, map_type="ROADMAP")
DirectionsMap.add_layer(itinerary_layer)

DirectionsMap

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,212,Ixtapa,MX,74.23,scattered clouds,20.7000,-105.2000,Hotel Plaza Providencia
1,489,Petatlan,MX,73.96,clear sky,17.5167,-101.2667,Hotel California Petatlán
2,131,Acapulco,MX,76.82,clear sky,16.8634,-99.8901,HS Hotsson Smart Acapulco
3,295,Puerto Escondido,MX,76.89,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
route_hotels = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
Itinerary_Hotels=gmaps.marker_layer(locations,info_box_content=route_hotels)


# 11b. Display the figure
HotelsMap=gmaps.figure(center=(-23,144),zoom_level=5, map_type="ROADMAP")
HotelsMap.add_layer(Itinerary_Hotels)

HotelsMap

Figure(layout=FigureLayout(height='420px'))